flask
flask-cors
sqlalchemy
pandas
faker
pinecone
python-dotenv
langgraph
langchain-groq
langsmith
langgraph-checkpoint-sqlite
apscheduler
chromadb
sentence-transformers
openpyxl
hubspot-api-client
requests
groq>=0.11.0
